<!-- Wrapper-->
<div id="wrapper">
    <!-- Navigation -->
    <!-- <app-navbar></app-navbar> -->
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <!-- <div id="page-wrapper" class="gray-bg"> -->
        <!-- Page wrapper -->
        <app-header></app-header>
        <!-- Main view  -->
        <router-outlet ></router-outlet>
        <!-- Footer -->
        <app-footer></app-footer>
    <!-- </div> -->
    <!-- End page wrapper-->
</div>
<app-login></app-login>
<app-register></app-register>
<app-active-phone></app-active-phone>
<app-forget-password></app-forget-password>
<!-- End wrapper-->
