.red{color: #ff3030;}
.prod-img{width: auto !important;max-height: 100%;max-width: none;min-width: 100%;}
.short-title{font-size: 19px;}
.category-grid-layout1 .price{background: #fff;padding: 0px 0px 0 5px;color: #3b86d8 !important;}
